<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <title></title>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 float-left">
      <div class="left-navbar text-center">
        <h4 class="mb-0"> Witaj Kurierze!</h4>
        <!-- <a [routerLink]="['/courier-panel']"> -->
        <nav>
          <button class="start-shift"><fa-icon [icon]="['far', 'play-circle']"> </fa-icon> Zacznij zmianę</button>
          <hr/>
          <ul ngbNav>
            <li class="btn-block border-white" [ngbNavItem]="link.fragment" *ngFor="let link of links">

              <a ngbNavLink data-toggle="collapse" [routerLink]="[link.fragment]" routerLinkActive="active" class="float-left">
                <fa-icon class="float-left" icon="{{ link.icon }}"> </fa-icon> {{ link.title }}
              </a>
            </li>
          </ul>
        </nav>
        <router-outlet> </router-outlet>

      </div>
    </div>

    <!-- content -->
    <div class="col-lg-9">
      <div class="card-box col-lg-9">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                  <div class="tab-pane active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">

                    <h4 class="font-weight-bold mt-0 mb-4">Zamówienia</h4>
                    <div class="bg-white card mb-4 order-list shadow-sm">
                      <div class="gold-members p-3">
                        <div class="media">
                          <div class="media-body">
                              <span class="float-right font-weight-bold">
                                <fa-icon [icon]="['fas', 'truck-loading']"> </fa-icon>
                                Odbiór: 15:31</span>
                            <h6 class="mb-2">
                              <fa-icon [icon]="['fas', 'location-arrow']"> </fa-icon>
                              <a href="#" class="text-black"> McDonalds Al. Solidarności</a>
                            </h6>
                            <hr/>
                            <p class="text-gray mb-1"><fa-icon [icon]="['fas', 'map-marker-alt']"> </fa-icon> ul. Warszawska 99, 12-324
                              <span class="float-right">
                                <fa-icon [icon]="['far', 'clock']"> </fa-icon>
                                  <span class="font-weight-bold">
                                    Dostawa: 16:00
                                  </span>
                              </span>
                            </p>
                            <p class="text-gray mb-3"><fa-icon [icon]="['fas', 'clipboard-list']"> </fa-icon> Nr. zamówienia #25102589748 </p>


                              <p class="text-gray mb-1"><fa-icon [icon]="['fas', 'info']" > </fa-icon>
                                  <span class="text-info"> Poprosze hamburgera bez cebuli, i żeby było ciepłe!!!</span>
                              </p>

                            <hr/>

                              <div class="float-right">
                                <a class="btn btn-sm btn-outline-primary" href="#"><fa-icon [icon]="['fas', 'headset']" > </fa-icon> Pomoc</a>
                                <a class="btn btn-sm btn-primary btn-primary px-2" href="#"><fa-icon [icon]="['far', 'check-circle']" > </fa-icon> Potwierdź dostarczenie</a>
                              </div>
                              <a class="btn btn-sm btn-outline-primary px-2" href="#"><fa-icon [icon]="['fas', 'phone-alt']" > </fa-icon> Zadzwoń do klienta</a>
                          </div>
                        </div>

                      </div>
                    </div>


                    <div class="bg-white card mb-4 order-list shadow-sm" [hidden]="isFinished">
                      <div class="gold-members p-3">
                        <div class="media">
                          <div class="media-body">
                              <span class="float-right font-weight-bold">
                                <fa-icon [icon]="['fas', 'truck-loading']"> </fa-icon>
                                Odbiór: 12:01</span>
                            <h6 class="mb-2">
                              <fa-icon [icon]="['fas', 'location-arrow']"> </fa-icon>
                              <a href="#" class="text-black"> Kebab Kielce, ul. Warszawska</a>
                            </h6>
                            <hr/>
                            <p class="text-gray mb-1"><fa-icon [icon]="['fas', 'map-marker-alt']"> </fa-icon> ul. Klonowa 99, 12-324
                              <span class="float-right">
                                <fa-icon [icon]="['far', 'clock']"> </fa-icon>
                                  <span class="font-weight-bold">
                                    Dostawa: 13:00
                                  </span>
                              </span>
                            </p>
                            <p class="text-gray mb-3"><fa-icon [icon]="['fas', 'clipboard-list']"> </fa-icon> Nr. zamówienia #25102589748 </p>


                            <p class="text-gray mb-1"><fa-icon [icon]="['fas', 'info']" > </fa-icon>
                              <span class="text-info"> Prosze uwazac na lody i napoje</span>
                            </p>

                            <hr/>

                            <div class="float-right">
                              <button type="button" class="btn btn-sm btn-outline-primary" (click)="openCallCoordinator(contentCallCoordinator)"><fa-icon [icon]="['fas', 'headset']" > </fa-icon> Pomoc</button>
                              <button type="button" class="btn btn-sm btn-primary btn-primary px-2" (click)="toggleDisplay()"><fa-icon [icon]="['far', 'check-circle']" > </fa-icon> Potwierdź dostarczenie</button>
                            </div>
                            <button type="button" class="btn btn-sm btn-outline-primary px-2" (click)="openCallTheClient(contentCallTheClient)"><fa-icon [icon]="['fas', 'phone-alt']" > </fa-icon> Zadzwoń do klienta</button>
                          </div>
                        </div>

                        <ng-template #contentCallTheClient let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-call-client">Numer telefonu klienta</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <div class="modal-body">
                            123-432-235
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"><fa-icon [icon]="['fas', 'phone-alt']" > </fa-icon> Zadzwoń</button>
                          </div>
                        </ng-template>

                        <ng-template #contentCallCoordinator let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-call-coordinator">Numer telefonu koordynatora</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <div class="modal-body">
                            123-432-235
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"><fa-icon [icon]="['fas', 'phone-alt']" > </fa-icon> Zadzwoń</button>
                          </div>
                        </ng-template>

                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>

      </div> <!-- end tab-content -->
    </div> <!-- end card-box-->
  </div> <!-- end col -->
</div>
</body>
</html>
