<div id="center" >
    <div class="modalCol">
      <h4 class="modal-title">Zaloguj sie za pomoca swojego konta! </h4>
    </div>
    <form role="form" (submit)="login()" >
      <div class="center form-group">
        <label for="username">Username: </label>
        <input type="text" class="form-control" id="username"
               name="username" [(ngModel)]="credentials.username"/>
      </div>
      <div class="center form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password"
               name="password" [(ngModel)]="credentials.password"/>
      </div>
      <hr>
      <p class="centerText">lub </p>
      <!--Facebook logo-->
      <img class="displayed" [src]="logoFacebook" alt="logoFacebook">

      <div class="centerText">
        <p >Nie masz konta na MasnejSzamie? </p>

        <!--register button in login from -->
        <button class="astext" (click)="goToRegisterAcc()">Utworz konto</button>
      </div>

      <button type="submit" class="clientBtn btn btn-primary">Zaloguj</button>
      <div class="centerText">
        <p>  <a href="#">Wroc do strony glownej.</a></p>
      </div>
    </form>

</div>

