<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Client Adress</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

</head>


<body>
<div class="container">
  <div class="row">


    <!-- content -->
    <div class="col-lg-9 col-xl-9">
      <div class="card-box">


        <div class="tab-content" id="ngbNav">
          <h3>Lista zapisanych adresow: </h3>
          <nav>

            <ol>
              <li>Nazwa adresu 1
                <ul>
                  <li>Miasto</li>
                  <li>Ulica</li>
                  <li>Numer bloku</li>
                  <li>numer mieszkania</li>

                </ul>
              </li>
              <li>Nazwa adresu 3
                <ul>
                  <li>Miasto</li>
                  <li>Ulica</li>
                  <li>Numer bloku</li>
                  <li>numer mieszkania</li>

                </ul>
              </li>
              <li>Nazwa adresu 3
                <ul>
                  <li>Miasto</li>
                  <li>Ulica</li>
                  <li>Numer bloku</li>
                  <li>numer mieszkania</li>

                </ul>
              </li>
            </ol>

            <button class="btn btn-info" (click)="logoutClick();">Powrot do strony glownej</button>
          </nav>
        </div>

      </div> <!-- end tab-content -->
    </div> <!-- end card-box-->
  </div> <!-- end col -->
</div>
</body>
</html>
