<html>
<body>
<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-5 "> <!--menu-->
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Opis</th>
          <th scope="col">Cena</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let meal of meals$ | async">
          <td class="align-middle">{{meal.name}}</td>
          <td class="align-middle">{{meal.name}}</td>
          <td class="align-middle">{{meal.price}}</td>
          <td class="align-middle"><fa-icon icon="plus-square"
                                            (click)="addToOrder(meal);"></fa-icon></td>
        </tr>
        </tbody>

      </table>
    </div> <!-- menu end -->

    <div class="col-2"> <!--basket-->

      <b>Koszyk</b>
      <hr>

        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let orderMeal of orderMeals">
            <td class="align-middle">{{orderMeal.name}}</td>
            <td class="align-middle">{{orderMeal.price}}</td>
            <td class="align-middle"><fa-icon icon="trash-alt"
                                              class="delete"
                         (click)="deleteFromOrder(orderMeal.id);"></fa-icon></td>
          </tr>
          </tbody>
        </table>

      <hr>
      <b>Razem: {{total | currency:'PLN'}}</b>
      <hr>
      <button type="button" class="btn" routerLink="/order-checkout">Zamawiam</button>
    </div> <!-- basket end -->

  </div> <!-- row end -->

</div> <!-- container end -->
</body>
</html>

