<div class="row">

  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

     <form [formGroup]="optionCreatorForm" (ngSubmit)="onSubmit()">

       <div class="form-group">
         <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="Dodaj restaurację">
         <label for="categories">Aktualnie aktywne oferty</label>
         <select
           id="categories"
           formControlName="category"
           class="form-control">
           <option *ngFor="let category of categories"
                   [ngValue]="category">{{category.categoryName}} </option>
         </select>
       </div>

      <div formArrayName="optionsArray">
        <button
          class="btn btn-info"
          type="button"
          (click)="onAddOption()">Dodaj ofertę</button>
        <div *ngFor="let optionControl of optionCreatorForm.get('optionsArray').controls; let i=index">
          <div [formGroupName]="i">
            <input formControlName="optionName" placeholder="Nazwa i opis">
            <input formControlName="optionPrice" placeholder="Cena">

          </div>
        </div>
      </div>
      <hr>
      <div>Dodatkowe opcje</div>
      <div class="form-check">
        <input type="checkbox"
               id="requireRule"
               formControlName="requireRule"
               class="form-check-input">
        <label class="form-check-label" for="requireRule">Wymóg wybrania min.2 dań </label>
      </div>
      <div class="form-check">
        <input type="checkbox"
               id="totalRule"
               formControlName="totalRule"
               class="form-check-input">
        <label class="form-check-label" for="totalRule">Maksymalna liczba zamówionych dań</label>
        <input
          type="number"
          id="totalRuleNumber"
          formControlName="totalRuleNumber"
          class="form-control">
      </div>

      <button class="btn btn-primary" type="submit">Zapisz</button>
       <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
    </form>
  </div>
</div>
