<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="categoryCreatorForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <br>
        <label for="name"><h4>Create New Category Name</h4></label>
        <p>(Example: Appetizers)</p>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          required>
      </div>
      <br>
      <div class="form-group">
        <div for="name"><h5>Add Category to Menus</h5></div>

        <div formArrayName="menusControlArray" *ngFor="let menuControl of categoryCreatorForm.controls.menusControlArray.controls; let i = index">
          <input type="checkbox" [formControlName]="i">
          {{menus[i].menuName}}
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!categoryCreatorForm.valid">Save</button>
      &nbsp;
      <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
    </form>
  </div>
</div>



