<nav class="navbar navbar-light bg-light">
  <div class="row">
    <a class="navbar-brand" href="/">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="Dodaj restaurację">
      Dodaj restaurację
    </a>
  </div>
</nav>
<div class="jumbotron">

  <form>
    <div class="form-group">
      <label>Nazwa</label>
      <input type="text" class="form-control" placeholder="Podaj nazwę" formControlName="Nazwa">
    </div>
    <div class="form-group">
      <label>Adres</label>
      <input type="text" class="form-control" placeholder="Podaj adres" formControlName="Adres">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" placeholder="Podaj Email" formControlName="Adres email">
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
  </form>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

</div>

