<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-xl-3">
      <div class="card-box text-center">
        <h4 class="mb-0"><a [routerLink]="['/courier-panel']"> Witaj Kurierze! </a></h4>

        <nav>
          <button class="start-shift"><fa-icon [icon]="['far', 'play-circle']"> </fa-icon> Zacznij zmianę</button>
          <hr/>
          <ul ngbNav class="nav-tabs">
            <li class="btn-block" [ngbNavItem]="link.fragment" *ngFor="let link of links">
              <a ngbNavLink data-toggle="collapse" [routerLink]="[link.fragment]" routerLinkActive="active">{{ link.title }}</a>
            </li>
          </ul>
        </nav>
        <router-outlet> </router-outlet>
      </div>
    </div>

    <!-- content -->
    <div class="col-lg-9 col-xl-9">
      <div class="card-box">

        <div class="container bootstrap snippets bootdey">
          <h4 class="font-weight-bold mt-0">Profil kuriera</h4>
          <hr>
          <div class="row">

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
              <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                Pomyślnie zaktualizowano dane.
              </div>

              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Imię:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" value="imie kuriera">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Nazwisko:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" value="nazwisko kuriera">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-8 control-label">Adres e-mail:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" value="kurier@masnaszama.pl">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-8 control-label">Numer telefonu:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" value="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Pojazd:</label>
                  <div class="col-lg-8">
                    <div class="ui-select">
                      <select id="user_time_zone" class="form-control">
                        <option value="scooter">Skuter</option>
                        <option value="bike">Rower</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>

      </div> <!-- end tab-content -->
    </div> <!-- end card-box-->
  </div> <!-- end col -->
</div>
</body>
</html>
