<h1>{{title}}</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <!--<
    li><a routerLink="/courier-panel" routerLinkActive="active">Panel kuriera</a></li>
    li><a routerLink="/clieny-panel" routerLinkActive="active">Panel klienta</a></li>
    <li><a routerLink="/admin-panel" routerLinkActive="active">Panel admina</a></li>
    <li><a routerLink="/login-panel" routerLinkActive="active">Zobacz panel rejestracji</a></li>
    <li><a routerLink="/register-panel" routerLinkActive="active">Zobacz panel logowania</a></li>
    <li><a routerLink="/restaurant-summary" routerLinkActive="active">Restauracje</a></li>
    -->
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
