<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-xl-3">
      <div class="card-box text-center">
        <h4 class="mb-0">Witaj (imie kuriera)!</h4>

        <nav>
          <ul ngbNav class="nav-tabs">
            <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
              <a ngbNavLink data-toggle="collapse" [routerLink]="[link.fragment]" routerLinkActive="active">{{ link.title }}</a>
            </li>
          </ul>
        </nav>
        <router-outlet> </router-outlet>

      </div>
    </div>

    <!-- content -->
    <div class="col-lg-9 col-xl-9">
      <div class="card-box">

        <button class="start-shift">Zacznij zmianę</button>

          <div class="container">
            <h3 class="text-center">Grafik (tydzień {{ currentDate | date: 'w' }})</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel panel-primary">

                    <div class="panel">

                      <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                          <th scope="col">Dzień</th>
                          <th scope="col">Start</th>
                          <th scope="col">Koniec</th>
                          <th scope="col">Dyspozycyjność</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let number of numbers">
                            <td class="col-lg-4">{{ firstDayOfTheWeek.setDate(first + number)| date: 'EEEE, MMMM d' }}</td>
                            <td>8:00</td>
                            <td>16:00</td>

                            <td class="col-lg-2"><button class="btn btn-lg btn-outline-primary">Dodaj</button>
                              <!-- MODAL -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      Wooho!
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div></div></div>
      </div> <!-- end tab-content -->
    </div> <!-- end card-box-->
  </div> <!-- end col -->
</div>
</body>
</html>
