<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-xl-3">
      <div class="card-box text-center">
        <h4 class="mb-0"><a [routerLink]="['/courier-panel']"> Witaj Kurierze! </a></h4>

        <nav>
          <button class="start-shift"><fa-icon [icon]="['far', 'play-circle']"> </fa-icon> Zacznij zmianę</button>
          <hr/>
          <ul ngbNav class="nav-tabs">
            <li class="btn-block" [ngbNavItem]="link.fragment" *ngFor="let link of links">
              <a ngbNavLink data-toggle="collapse" [routerLink]="[link.fragment]" routerLinkActive="active">{{ link.title }}</a>
            </li>
          </ul>
        </nav>
        <router-outlet> </router-outlet>

      </div>
    </div>

    <!-- content -->
    <div class="col-lg-9 col-xl-9">
      <div class="card-box">
          <div class="container">
            <h3 class="text-center">Grafik (tydzień {{ currentDate | date: 'w' }})</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel panel-primary">

                    <div class="panel">

                      <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                          <th scope="col">Dzień</th>
                          <th scope="col">Start</th>
                          <th scope="col">Koniec</th>
                          <th scope="col">Dyspozycyjność</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let number of numbers">
                            <td class="col-lg-4">{{ firstDayOfTheWeek.setDate(first + number)| date: 'EEEE, MMMM d' }}</td>
                            <td>{{startTime.hour + ':' + startTime.minute}}</td>
                            <td>{{endTime.hour + ':' + endTime.minute}}</td>

                            <ng-template #content let-modal>
                              <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Dodaj godziny pracy</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>

                              <div class="modal-body">
                                <table class="table table-striped table-hover">
                                  <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Start</th>
                                    <th scope="col">Koniec</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                    <td>
                                      <ngb-timepicker [(ngModel)]="startTime"
                                                      [hourStep]="hourStep" [minuteStep]="minuteStep"></ngb-timepicker>
                                    </td>
                                    <td>
                                      <ngb-timepicker [(ngModel)]="endTime"
                                                      [hourStep]="hourStep" [minuteStep]="minuteStep"></ngb-timepicker>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>

                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Zapisz</button>
                              </div>
                            </ng-template>

                            <td class="col-lg-2"><button class="btn btn-sm btn-block btn-primary" (click)="open(content)">Dodaj</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div> <!-- end tab-content -->
    </div> <!-- end card-box-->
  </div> <!-- end col -->
</div>
</body>
</html>
