<div id="login">

  <h1><strong>Witaj!</strong> Proszę podać dane rejestracji</h1>

  <form action="#" method="get">

    <fieldset>

      <p><input type="text" required value="Nazwa użytownika" placeholder="Nazwa użytownika"></p>

      <p><input type="password" required value="Hasło" placeholder="Hasło"></p>

      <p><a href="#">Powtórz hasło</a></p>

      <p><input type="password" required value="Hasło" placeholder="Hasło"></p>

      <p><input type="submit" value="Login"></p>

    </fieldset>

  </form>

  <p><span class="btn-round">lub</span></p>

  <p>

    <a class="facebook-before"><span class="fontawesome-facebook"></span></a>
    <button class="facebook">Zaloguj przez facebooka</button>

  </p>

  <p>

    <a class="twitter-before"><span class="fontawesome-twitter"></span></a>
    <button class="twitter">Zaloguj przez Twittera</button>

  </p>

</div>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
