.restaurant-item {
  width: 800px;
  height: 200px;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  background: #ece7d4;
}

.restaurant-item:hover {
  border: 2px solid #17a2b8;
  box-shadow: 5px 5px #5E6472;
  transform: translateX(15px);
}


