<html>
<body>
<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-3">

    </div> <!-- left-menu end -->

    <div class="col-6">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nazwa</th>
          <th scope="col">Opis</th>
          <th scope="col">Opinia</th>
        </tr>
        </thead>
        <tbody>
        <tr routerLink="/restaurant-menu/{{restaurant.id}}"
            *ngFor="let restaurant of restaurants$ | async">
          <td class="align-middle"><img src="favicon.ico"></td>
          <td class="align-middle">{{restaurant.name}}</td>
          <td class="align-middle">{{restaurant.description}}</td>
          <td class="align-middle">{{restaurant.averageOpinion}}</td>
        </tr>
        </tbody>

      </table>
    </div> <!-- restaurants-summary end -->

  </div> <!-- row end -->
</div> <!-- container end -->
</body>
</html>

