<html>
<body>
<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-3"> <!-- left-menu start -->

      <div class="form-group">

        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Sortuj</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option value="topRated" selected>Najwyżej oceniane</option>
              <option value="minOrderPrice">Minimalna kwota zamówienia</option>
              <option value="deliveryTime">Przewidywany czas dostawy</option>
              <option value="alpha">Alfabetycznie</option>
              <option value="deliveryCost">Koszt dostawy</option>
            </select>
          </div>
        </div>

        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="openedNow">
          <label class="custom-control-label" for="openedNow">Otwarte teraz</label>
        </div>

        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="freeDelivery">
          <label class="custom-control-label" for="freeDelivery">Bezpłatna dostawa</label>
        </div>

        <hr>

        <button type="button" class="btn" (click)="backToPreviousPage();">Powrót</button>

      </div> <!-- form-group end -->
    </div> <!-- left-menu end -->

    <div class="col-6"> <!-- restaurants-summary start -->
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nazwa</th>
          <th scope="col">Opis</th>
          <th scope="col">Opinia</th>
          <th scope="col">Czas dostawy</th>
          <th scope="col">Koszt dostawy</th>
          <th scope="col">Min. kwota zamówienia</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let restaurant of restaurants$ | async"
            (click)="gotoRestaurantMenu(restaurant.id, restaurant.minOrderCost)">

          <td class="align-middle"><img src="favicon.ico"></td>
          <td class="align-middle">{{restaurant.name}}</td>
          <td class="align-middle">{{restaurant.description}}</td>
          <td class="align-middle">{{restaurant.averageOpinion}}</td>
          <td class="align-middle"> <fa-icon icon="clock"></fa-icon>&nbsp;{{restaurant.deliveryTime}}</td>
          <td class="align-middle"> <fa-icon icon="bicycle"></fa-icon>&nbsp;{{restaurant.deliveryCost}}</td>
          <td class="align-middle"> <fa-icon icon="shopping-bag"></fa-icon>&nbsp;{{restaurant.minOrderCost}}</td>
        </tr>
        </tbody>

      </table>
    </div> <!-- restaurants-summary end -->

  </div> <!-- row end -->
</div> <!-- container end -->
</body>
</html>

