<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 float-left">
      <div class="left-navbar text-center">

        <nav>
          <img class="displayed" [src]="accLink" alt="accountIcon">
          <h4 class="mb-0"> {{clientProfile.lastName}} {{clientProfile.firstName}}</h4>
          <hr/>
          <ul ngbNav>
            <li class="btn-block border-white" [ngbNavItem]="link.fragment" *ngFor="let link of links">

              <a ngbNavLink data-toggle="collapse" [routerLink]="[link.fragment]" routerLinkActive="active" class="float-left">
                <fa-icon class="float-left" icon="{{ link.icon }}"> </fa-icon> {{ link.title }}
              </a>
            </li>
          </ul>
        </nav>
        <router-outlet> </router-outlet>

      </div>
    </div>

    <!-- content -->
    <div class="col-lg-9">
      <div class="card-box col-lg-9">
        <div class="tab-content" id="ngbNav">
          <div class="tab-pane fade show active" id="schedule" role="tabpanel">
            <h1 class="display-1 text-center">Edytowanie profilu</h1>
            <hr>
            <div class="container">
              <p class="display-4 text-center astext" (click)="open(changeImg)">Edytuj swoj awatar</p>
              <p></p>
            <hr>
              <p class="display-4 text-center astext" (click)="open(changeData); getClientProfile()">Edytuj swoje dane</p>
              <p></p>
            <hr>
            </div>
          </div>
        </div>
      </div> <!-- end tab-content -->
    </div> <!-- end card-box-->
  </div> <!-- end col -->
</div>

<!--change image -->
<ng-template #changeImg let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Wybierz zdjęcie które checsz  dodać!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');accLinkChange()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="displayed" [src]="accPomLink" alt="accountIcon">
    <input type="file" (change)="openImage($event); upload($event)" accept=".png,.jpg" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click');uploadImage(); ">Zapisz zdjecie</button>
  </div>
</ng-template>
<!--finish change image -->

<!--change data -->
<ng-template #changeData let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Zmien swoje dane, a nastepnie zapisz!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="col-lg-8 control-label">Nazwisko:</label>
    <div class="col-lg-8">
      <label>
        <input class="form-control" ngModel="{{clientProfile.lastName}}" id="lastName" name="lastName" type="text" required>
      </label>
    </div>
  </div>



  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click');">Zapisz</button>
  </div>
</ng-template>

<!-- finish change data -->
</body>
</html>
