<div class="container">

  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active">
          <!-- [routerLinkActiveOptions]="{exact: true}" -->
          <a class="nav-link" routerLink="/">Overview</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/menus">Menus</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/items">Items</a>
        </li>
        <!-- use later
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/options">Options</a>
        </li>
        -->
      </ul>
    </div>
  </div>
  <app-hero></app-hero>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

