   <div id="center">
    <div class="modalCol">
      <h4 class="modal-title">Zarejestruj sie! </h4>
    </div>

        <form role="form" (submit)="registerAcc()">
            <input type="hidden" name="personId" id="personId"
                   [(ngModel)]="registerRequest.person.personId"
                    value="1001">
          <div class="center form-group">
            <label for="firstName"></label>
            <input type="text" placeholder="Imie" name="firstName" id="firstName"
                   [(ngModel)]="registerRequest.person.firstName" maxlength="16" minlength="8" required>
          </div>
          <div class="center form-group">
            <label for="lastName"></label>
            <input type="text" placeholder="Nazwisko" name="lastName" id="lastName"
                   [(ngModel)]="registerRequest.person.lastName" maxlength="16" minlength="8" required>
          </div>
          <div class="center form-group">
            <label for="emailAddress"></label>
            <input type="text" placeholder="Adres email" name="emailAddress" id="emailAddress"
                   [(ngModel)]="registerRequest.emailAddress" maxlength="24" minlength="8" required>
          </div>
          <div class="center form-group">
            <label for="userName"></label>
            <input type="text" placeholder="Nazwa użytkownika" name="userName" id="userName"
                   [(ngModel)]="registerRequest.userName" maxlength="16" minlength="8" required>
          </div>
          <div class="center form-group">
            <label for="userPassword"></label>
            <input type="password" placeholder="Haslo" name="userPassword" id="userPassword"
                   [(ngModel)]="registerRequest.userPassword" maxlength="16" minlength="8" required>
          </div>

            <hr>
            <label>
              <input type="checkbox">
              Rejestrujac konto akceptujesz
              <button class="astext"  (click)="openScrollableContent(longContent)"> regulamin</button>
              oraz polityke prywatnosci MasnaSzama.pl
            </label>

            <!-- Statute modal -->
            <ng-template #longContent let-modal>
              <div class="modalCol">
                <h4 class="modal-title">Regulamin MasnaSzama.pl</h4>
              </div>
              <div class="statuteBody">
                <object class="statuteObject" data="/assets/statute.txt"></object>
              </div>
              <div class="modal-footer">
                <button type="submit" class="clientBtn" (click)="modal.close('accept statute')">Akceptuje</button>
              </div>
            </ng-template>
            <!-- Finish Statute modal -->

            <!-- Modal info register-->
            <ng-template #registerInfo let-modal>
              <div class="modalCol">
                <h4>Zarejestrowano pomyslnie</h4>
              </div>
              <div class="centerText">
                <p>Twoje konto zostalo pomyslnie zarejestrowane</p>
                <p>  <a href="#">wroc do strony glownej</a></p>
                <p> aby zalogowac sie na swoje konto.</p>
              </div>
            </ng-template>
            <!--Finish  Modal info register-->
          <div class="center">
            <button type="submit" class="clientBtn btn btn-primary">Zarejestruj</button>
          </div>
          <div class="centerText">
            <p>  <a href="#">Wroc do strony glownej.</a></p>
          </div>
        </form>
      </div>

