<html>
<body>

<div class="container-fluid">
  <nav>

    <div class="row">

      <div class="col-3">
        <button class="btn btn-info" (click)="btnClick();">Courier Panel</button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="goToAdmin();">Admin Panel</button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="goToClient();">Client Panel</button>
      </div>
      <div class="col-3">
        <button class="btn btn-info" (click)="goToRestaurantOrders();">Restaurant orders</button>
      </div>
    </div>

  </nav>


  <hr>

  <main>
    <div class="row justify-content-center">
      <div class="col-8 text-center">

          <h2>Zamów jedzenie online już teraz</h2>
          <h4>Zjedz smacznie nie wychodząc z domu</h4>

          <form class="form-inline justify-content-center" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
            <input class="form-control-lg" type="text" placeholder="Miasto, adres" formControlName="adr">
            <button type="submit" class="btn btn-light btn-lg">Szukaj</button>
          </form>

      </div>
    </div>
  </main>

</div>

</body>
</html>
