<nav>
  <button class="btn btn-info" (click)="btnClick();">Courier Panel</button>
  <button class="btn btn-info" (click)="goToAdmin();">Admin Panel</button>
  <button class="btn btn-info" (click)="goToRestaurantOrders();">Zamowienia dla restauracji</button>
</nav>

<hr>

<main>

  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <input class="form-control form-control" type="text" placeholder="Miasto, adres" formControlName="adr">
    <button type="submit" class="btn btn-info">Szukaj</button>
  </form>

</main>


