body {
  min-height: 100vh;
  background-color: #FFFFFF;
  font-family: 'Trebuchet MS', sans-serif;
  /*background-image: url("/../../assets/kebabGif.gif");*/
}
label {
  display: block;
  font: .9rem 'Fira Sans', sans-serif;
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.centerText{
  text-align:center
}
.loginHr{
  border-top: 1px dotted black;
}

IMG.displayed {
  width:64px;
  height:64px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: blue;
}


* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {

}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.clientBtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.col-8 {
  width: 80%;
  background: #FEA935;
  border-radius: 20px;
}

h2, h4 {
  color: #FFFFFF;
  text-shadow: 1px 1px #5a5656;
}

.col-8.text-center {
  min-height: 400px;
}



form {
  margin-top: 50px;
}

input {
  border-width: 0px;
  margin: 5px;
}

.modalCol {
  min-height: 65px;
  text-align: center;
  background: #FEA935;
  padding-top: 10px;
  vertical-align: middle;
}
.statuteBody{
  margin-left: auto;
  margin-right: auto;

}
.statuteObject{
  height: 650px;
  width: 450px;
  text-align:center
}





